@use '../../var.scss';

.identity{
    width: 200px;
    height: 250px;
    border: 2px solid var.$primary-color;
    background-color: var.$primary-color;
    color: var.$second-color;
    border-radius: 5px;;
    margin: 0 5% 10%;
    cursor: pointer;

}

.identity-picture{
    width: 100%;
    padding: 4%;
    height: 90%;
    overflow: hidden;
}

img {
    border-radius: 5px;
}
