@use '../../var.scss';

.classeroom-title{
    padding-top: 1.7%;
    font-size: 2em;
    color: var.$second-color;
    font-weight: bold;
}

.classeroom-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}