@use '../../var.scss';

.promo-card{
    width: 250px;
    height: 150px;
    border: 2px solid var.$second-color;
    background-color: var.$background-color;
    color: var.$second-color;
    border-radius: 5px;
    margin: 2% 1%;
    padding: 1.5%;
    font-size: 1.5em;
    position: relative;

}

.promo-form{
    margin-top: 8%;

    
}

.promo-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.promo-name{
    margin-bottom: 8%;
    margin-top: 10%;
}

.promo-confirmation{
    font-size: 0.8em;
    margin-bottom: 10px;
}

.promo-button-container {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin-top: 12%;
}   

.promo-confirmation-validate-button, 
.promo-confirmation-cancel-button{
    background-color: var.$background-color;
    border: 1px solid var.$second-color;
    color: var.$second-color;
    border-radius: 3px;
    margin: 3px;
    padding: 3%;
    width: 100%;
    font-size: 20px;
}

.promo-confirmation-validate-button:hover{
    color: var.$trash-color;
    border: 1px solid var.$trash-color;
    background-color: var.$background-color;

}

.promo-confirmation-cancel-button:hover{
    color: var.$other-color;
    border: 1px solid var.$other-color;
    background-color: var.$background-color;

}

.modal-icone-pencil,
.modal-icone-trash{
    background-color: transparent;
    filter: invert(98%) sepia(1%) saturate(247%) hue-rotate(244deg) brightness(115%) contrast(90%);
    transition: all 0.3s;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    margin-right: 0.5rem;
}

.modal-icone-pencil:hover{
    filter: invert(67%) sepia(43%) saturate(3973%) hue-rotate(359deg) brightness(101%) contrast(106%);
    
}

.modal-icone-trash:hover{
    filter: invert(11%) sepia(75%) saturate(6669%) hue-rotate(350deg) brightness(105%) contrast(94%);
    
    
}

.img-pencil:hover,
.img-trash:hover{
    transform: scale(1.15);

}

.promo-info{
    font-weight:900;
}