@use '../../var.scss';
@use '../../reset.scss';

.trainee {
    width: 90%;
    margin: auto;
    position: relative;
}

.trainee-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.trainee-content {
    width: 100%;
}

.trainee-content-promo-students{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 3%;
}

.trainee-create{
    padding-top:5% ;
}