@use '../../var.scss';


.identity{
    width: 200px;
    height: 250px;
    background-color: var.$background-color;
    color: var.$second-color;
    border-radius: 8px;   
    cursor: pointer;
    transition: all 0.4s;

    &:hover {
        color: var.$other-color;
        border: 3px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 8px;
        
    }

}



.identity-container-picture{
    width: 194px;
    height: 204px;

}

.identity-picture{
    width: 100%;
    padding: 0%;
    height: 90%;
    overflow: hidden;
}

img {
    width: 100%;
    padding: 0%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;

}

.identity-container-name{
    padding: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.identity-name{
    font-weight: bold;
    font-size: 1.04rem;
}

@media screen and (max-width: 540px) {
    .identity{
       width: 200px;
       height: 210px;
       background-color: var.$background-color;
       color: var.$second-color;
       border-radius: 8px;   
       cursor: pointer;
    }
}