.color{
    width: 25px;
    height: 15px;
}

.color1 {
    background-color: #9C0D38;
    height:30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color2 {
    background-color: #03B5AA;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color3 {
    background-color: #406E8E;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color4 {
    background-color: #FF8CC6;
    height:30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color5 {
    background-color: #540D6E;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color6 {
    background-color: #EDD83D;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color7 {
    background-color: #7C7C7C;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color8 {
    background-color: #023618;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

#color_user{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}