.color{
    width: 25px;
    height: 15px;
}

.color1 {
    background-color: green;
    height:30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color2 {
    background-color: gray;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color3 {
    background-color: red;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color4 {
    background-color: purple;
    height:30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

.color5 {
    background-color: blue;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
}

#color_user{
    border: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}