@use '../../var.scss';

.mycourse{

    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.pagination-mycourse-button{
    font-family: 'Lato', Verdana, sans-serif;
    width: 280px;
    margin-top: 20px;
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition: all 0.3s;
    position: relative;
    bottom: 2%;      

    &:hover{
        color: var.$other-color;
        border-color: var.$other-color;;
    }
}

@media screen and (max-width: 540px) {
    .pagination-mycourse-button{
        font-family: 'Lato', Verdana, sans-serif;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        background-color: var.$background-color;
        border: 2px solid var.$second-color;
        border-radius: 3px;
        color: #F3F2F2;
        font-size: 1.1em;
        font-weight: bold;
        position: relative;
        bottom: 2%;      
    }

    .mycourse{
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        height: 100%;
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .label-start,
    .label-end {
        display:none
    }
    
    .former-mycourse{
        display:none
    }
}

