@use '../../var.scss';

.students-menu-container{
    background-color: var.$background-color;
    position: absolute;
    top: 0;
    left: 175px;
    width: 230px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0.3% 1.5%;
    border-right: 2px solid var.$other-color;

    
}

.studends-list{
    background-color: var.$background-color;
    color: var.$second-color;
    font-weight: bold;
    border: none;
    padding: 3% 0;

    &:hover{
        color: var.$other-color;
    }

}

.studends-list-add-all{
    color: var.$second-color;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    background-color: var.$background-color;
    padding: 3% 0;
    transition: all 0.3sec;

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
    }
}
