@use '../../var.scss';

.data-open-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.date-open{
    width: 50%;
    background-color: var.$background-color;
    color: var.$second-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    padding: 0.8% 1.5%;
    font-size: 2em;
    margin-top: 1%;

    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 3px;
    }
}

.create-classes-container{
    position: relative;
}

.calendar-datepicker{
    margin-top: 0.5%;

}

.create-date-form{
    margin-top: 1%;
}

.create-date-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 6%;
}

.create-date-form-input{
    margin: 0.5% 0 2%;
    width: 25%;
    padding: 0.5% 1%;
    font-size: 1.2em;
    border-radius: 5px;
    border: 2px solid var.$second-color;
    background-color: var.$background-color;
    caret-color: var.$second-color;
    color: var.$second-color;
    font-weight: bold;

    &:focus{
        border: 2px solid var.$other-color;
        color: var.$other-color;
        caret-color: var.$other-color;;
    }

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
    }
}

.create-date-name-label{
    color: var.$second-color;
    font-size: 1.2em;
    font-weight: bold;
}

.date-time-button{
    width: 6%;
    min-width: 120px;
    margin:1% 0.5% 0.5%;
    background-color: var.$background-color;
    color: var.$second-color ;
    border: 2px solid var.$second-color;
    border-radius: 5px;
    padding: 0.5% 0.5%;
    font-size: 2em;
    transition-duration: 0.3s;

    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 3px;
    }
}



.date-form-button{
    margin-top: 3%;
    padding: 0.7% 4%;
    color: var.$second-color;
    font-size: 1em;
    font-family: 'Lato', Verdana, sans-serif;
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    font-size: 15px;
    font-weight: bold;
    transition-duration: 0.3s;
    
    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 3px;
    }

    &:disabled {
        background-color: var.$disabled-primary-color;
        border: 2px solid var.$second-color;
        color: var.$second-color;
    }
}

.container-form-part2{
    width: 100%;
}

.form-label{
    color: var.$second-color;
    font-size: 1.3em;
    margin-bottom: 1rem;
    font-weight: bold;
}

.text-form{
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 2px;

}

.react-datepicker{
    margin-bottom: 1%;
}

.react-timekeeper {
    position: absolute;
    bottom:25%;

}