@use '../../var.scss';
@use '../../reset.scss';

.classeroom-card{
    width: 250px;
    height: 150px;
    border: 2px solid var.$primary-color;
    background-color: var.$primary-color;
    color: var.$second-color;
    border-radius: 5px;
    margin: 2% 1%;
    padding: 3%;
    font-size: 1.5em;
    position: relative;
}


.classeroom-button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.classeroom-name{
    margin-bottom: 15%;
}

.classeroom-confirmation{
    font-size: 0.8em;
    margin-bottom: 10px;
}

.classeroom-confirmation-button{
    background-color: var.$second-color;
    border: none;
    color: var.$primary-color;
    border-radius: 3px;
    margin: 15px 10px;
    width: 65px;
    font-size: 0.7em;
}