@use '../../var.scss';

.picture{
    width: 100px;
    height: 138px;
    background-color: gray;
}
.identity-modal-main{
    display: flex;
    flex-direction: column;
   align-items: center;
  // margin-bottom: 2.5rem;
   
}
.identity-modal-main img{
    width: 120px;
    height: 120px;
    margin: 1rem;
    border-radius: 100px;
    object-fit: cover;
    border: 3px solid white;
}
.identity-modal-name{
    font-size: 1.5rem;
    font-weight: bold;
}

.identity-modal-promo{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.identity-modal-container{
    display: flex;
    flex-direction: column;
    
}
.identity-modal-container-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.identity-modal-container-title{
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
}


.identity-modal-button-password{
    
    font-family: 'Lato', Verdana, sans-serif;
  
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition-duration: 0.3s;
    width: 40%;
   
   

    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        
    }
}

.identity-modal-footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 1rem;
    justify-content: space-around;
    display: flex;
}

.identity-modal-icone {
    filter: invert(100%) sepia(4%) saturate(407%) hue-rotate(297deg) brightness(114%) contrast(90%);

    background: transparent;
   
   width: 100%;
   height: 50px;

}
.identity-modal-icone img{
    width: 30px;
    height: 30px;
}

.modal-confirmation-delete-button{
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    
    height: 100%;
    width: 70%;
}

.modal-confirmation-delete-warp{
    height: 40%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
}

.modal-confirmation-title{
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    
}

.modal-confirmation-delete-response{
display: flex;
justify-content: space-evenly;
width: 100%;
}

.modal-confirmation-response{
    font-family: 'Lato', Verdana, sans-serif;
  
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition-duration: 0.3s;
    margin: 1rem 0.5rem;
    width: 9rem;

    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        
    }
}

.identity-modal-button-password-block{
    margin-top: 5%;
    display: flex;
    
    justify-content: space-around;
    width: 100%;
   
 }
@media (min-width: 800px) {

    .identity-modal-main{

    margin-bottom: 2.5rem;
       
    }

    .identity-modal-button-password-block{
    
        flex-direction: row;
   
     }
    .identity-modal-main img{
        width: 200px;
        height: 200px;

    }

    .identity-modal-container-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }



    .identity-modal-warpper{
        display: flex;
        height: 85%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .identity-modal-button-password-block{
        position: absolute;
        bottom: 156px;
        
        
    }
    .identity-modal-button-password{
        width: 200px;
        
    }
   
    .identity-modal-footer{
        
        bottom: 40px;
        right: 0;
        left: 0;
     
    }

}
