@use '../../var.scss';

.menu-container{
}

.menu-items{
    width: 12%;
    min-width: 150px;
    position: fixed;
    margin-top: 60px;
    height: 98vh;
    left: 0;
    top: 0;
    border-right: 2px solid var.$other-color;
    z-index: 7;
}


@media (max-width: 950px) {
    .menu-items{
        min-width: 150px;
    }

}

@media (max-width: 850px) {
    .menu-items{
    }

}

@media (max-width: 500px) {
    .menu-items{
        width: 12%;
        position: fixed;
        margin-top: 60px;
        height: 98vh;
        left: 0;
        top: 0;
        border-right: 2px solid var.$other-color;
        z-index: 7;
    }

}

@media (max-width: 400px) {
    .menu-items{
        width: 12%;
        min-width: 75px;
        font-size: 0.6rem;
        position: fixed;
        margin-top: 60px;
        height: 98vh;
        left: 0;
        top: 0;
        border-right: 2px solid var.$other-color;
        z-index: 7;
    }

}