@use '../../var.scss';

.menu-container{
}

.menu-items{
    width: 12%;
    position: fixed;
    margin-top: 60px;
    height: 92vh;
    left: 0;
    top: 0;
    border-right: 2px solid var.$other-color;
    z-index: 7;
}

