@use '../../var.scss';
@use '../../reset.scss';

.navbar-container{
    border-bottom: 3px solid var.$primary-color ;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}