@use '../../var.scss';

.navbar {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: flex;
    border-bottom: 3px solid var.$other-color ;
    height: 60px;
    align-items: center;
    background-color: var.$background-color;
    z-index: 9;

    &-container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}