@use '../../var.scss';

.activeStyle{

    background-color: var.$background-color;
    font-size: 15px;
    color: var.$other-color;
    text-shadow: 0.5px 0.10px 0.10px var.$shadow-color;
    border-radius: 20px;
}



.navlink-add,.navlink-section,.activeStyle{

    border: none;
    margin-right: 40px;
    font-size: 18px;
    font-weight: bold;
}

.create-event-color {
    filter: invert(98%) sepia(1%) saturate(247%) hue-rotate(244deg) brightness(115%) contrast(90%);  
}

