@use '../../var.scss';

.activeStyle {
    text-decoration: underline;
    color: red;
}

.navlink {
    margin-right: 10px;
}

.open {
    position: fixed;
    z-index: 8;
    background-color: var.$background-color;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}

.open a:first-child {
    margin-top: 60px;
}