@use '../../var.scss';

.react-datepicker__header{
    background-color: var.$background-color ;
    
}

.react-datepicker__day-name, .react-datepicker__current-month {
    color: var.$second-color ;
}


.react-datepicker__day--keyboard-selected{
    background-color: var.$other-color;
} 

.react-datepicker__day--today{
    background-color: transparent;


}

.react-datepicker__day--range-end {
    background-color: var.$other-color;
    font-size: bold;
    &:hover{
        border: 1px solid var.$other-color;
        background-color: transparent;
        color: black;
    }
}

.react-datepicker__day--range-start{
    background-color: var.$other-color;
    &:hover{
        border: 1px solid var.$other-color;
        background-color: transparent;
        color: black;
    }
}


.react-datepicker__day--in-range {
    background-color: var.$other-color;
    &:hover{
        border: 1px solid var.$other-color;
        background-color: transparent;
        color: black;
    }
}


.react-datepicker__day--today:hover{
    border: 1px solid var.$other-color;
}

.react-datepicker__day--in-selecting-range-start{
    background-color: var.$other-color;

}

.react-datepicker__year-text--in-selecting-range{
    background-color: var.$other-color;
}