@use '../../var.scss';

.organizer-container{
    width: 100%;
    display: flex;
    margin-left: 1%;
    height: 500px;
    position: relative;
}

.weeks-container{
    display: flex;
    height: 6%;
    width:80%;
    margin-top:1.5% ;
}

.days{
    border: 2px solid var.$primary-color;
    display: inline-block;
    border-right: none;
    width: 240px;
    background-color: var.$primary-color;
    color: var.$second-color;
}

.days:first-child{
    border-radius: 10px 0 0 0;
}

.days:last-child {
    border-radius: 0 10px 0 0;
    border-right: 2px solid var.$primary-color; 
}

.days-container {
    display: flex;
}

.classroom-container{
    width: 10%;
    margin-top: 3.7%;
}

.classroom {
    border: 2px solid var.$primary-color;
    background-color: var.$primary-color;
    color: var.$second-color;
    width: 125px;
    padding: 25% 4.3%;
    justify-content: center;
    align-items: center;
  
}
.classroom:first-child{
    border-radius: 20px 0 0 0;
}

.classroom:last-child{
    border-radius: 0 0 0 20px;
}

.weeks-button-right{
    position: absolute;
    top: 25px;
    right:24px;
}

.weeks-button-left{
    position: absolute;
    top:25px;
    left:117px;
}

.year{
    position: absolute;
    font-size: 2em;
    left: 20px;
    top: 10px;
    color: var.$primary-color;
}

