@use '../../var.scss';


.former {
    width: 100%;
    margin: auto;
}

.former-content-promo-students {
    height: auto;
    margin:30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,200px);
    justify-content: center;
    grid-gap: 1%;
}

.former-create {
    padding-top: 0.3%;
}

.former-create-button{
    background-color: var.$other-color;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    position: fixed;
    right: 2%;
    bottom: 4%;
    overflow: hidden;
    transition-duration: 0.5s;

    &:hover{
        background-color: var.$second-color;
    }
}

.add-item-icon {
    filter: invert(100%) sepia(4%) saturate(407%) hue-rotate(297deg) brightness(114%) contrast(90%);
    transition-duration: 0.5s;
    &:hover{
        filter: invert(67%) sepia(43%) saturate(3973%) hue-rotate(359deg) brightness(101%) contrast(106%);
    }
}

@media screen and (max-width: 540px) {

    .former-create-button{
        background-color: var.$other-color;
        width: 60px;
        height: 60px;
        border-radius: 30px;
        position: fixed;
        right: 3%;
        bottom: 3%;
        overflow: hidden;     
    }

    .former {
        width: 100%;
        margin: auto;
        margin-top: 75px;
    }
}





