@use '../../../var.scss';

.navbar-user{
    margin-right: 10px;
    position: relative;
}

.user{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: -10px;
    background-color: var.$second-color;
    color: var.$primary-color;
    width: 200px;
    height: auto;
    z-index: 10;
}

.user-modal {
   
}

.user-name {

    font-family: 'Lato', Verdana, sans-serif;
    width: 9rem;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 3px;
    }
}