@use '../../../var.scss';

.navbar-user{
    margin-right: 10px;
    position: relative;
}

.user{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0px;
    background-color: var.$second-color;
    color: var.$primary-color;
    width: 200px;
    height: auto;
    z-index: 10;
}

.user-modal {
    padding-right: 5px;
    background-color: #2c3f6f;
    box-shadow: -10px 10px 20px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: flex-end;
}

.user-modal button {
    display: flex;
    align-items: center;
    height: 32px;
    background: none;
    color: var.$second-color;
}

.icologout{
    height: 100%;
    padding-left: 5px;
    filter: invert(11%) sepia(75%) saturate(6669%) hue-rotate(350deg) brightness(105%) contrast(94%);

}

.user-name {

    font-family: 'Lato', Verdana, sans-serif;
    width: 9rem;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition: all 0.3s;

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        border-radius: 3px;
    }
}