@use '../../var.scss';

.students-form-container{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
      
}

.students-list-container {
    margin-top: 0.2%;
    width: 50%;
    min-height: 50px;
    border-radius: 5px;
}

.remove-all-students{
    background: transparent;
    position: absolute;
    top: 0;
    transform: translate(800%, 0px);
}

.students-presence {
    position: absolute;
    font-size: 1rem;
    top: 50px;
    z-index: 1;
}

.students-form-remove-button{
     height: 100%;
     filter: invert(58%) sepia(43%) saturate(3973%) hue-rotate(359deg) brightness(100%) contrast(106%);
  
    
}