@use '../../var.scss';

.modal-course-info{
    position: fixed;
    overflow-y: auto;
    z-index: 0;
    top: 0px;
    bottom: 60px; // 40px
    left: 0; //mobil 15%
    right: 0; //mobil 15%
    
    margin: auto;
    width: 100%; //mobil 70%
    height: auto;
    border-bottom: 2px solid var.$other-color;
}

.event-modal-icones{
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.event-modal-icone{
   
    filter: invert(100%) sepia(4%) saturate(407%) hue-rotate(297deg) brightness(114%) contrast(90%);
    background: transparent;

}

.event-modal-icone img{
    
    width:30px;
    object-fit: cover;
    
}
.modal-event-head{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-event-name{
    color: var.$second-color;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;

}
.modal-event-place{
    margin-top: 0.2rem;
    font-weight: bold;
}
.modal-event-time{
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3rem;
    width: 70%;
}

.modal-date-time-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.modal-date-time-block-date{
    font-weight: bold;
    
}

.modal-date-time-block-hour{
    margin-top: 0.2em;
    font-weight: bold;
    font-size: 1.6rem;
}

.modal-event-user-wrapper{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 1rem;
}

.modal-event-user{
    
    margin-bottom: 1rem;
}

.modal-event-user-title{
    
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: start;
}

.modal-event-user-name-wrapper{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:1rem;
}

.modal-event-user-name{
    font-weight: bold;
    background: transparent;
    color: var.$second-color;
    
}
.modal-text-title-container{
    display: flex;
}
.modal-text-event{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-modal-textarea{
    width: 100%;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.event-button-abssense{
    font-family: 'Lato', Verdana, sans-serif;
  
    background-color: var.$background-color;
    border: 2px solid var.$second-color;
    border-radius: 3px;
    color: #F3F2F2;
    font-size: 15px;
    padding: 7px 10px;
    font-weight: bold;
    transition-duration: 0.3s;
    margin: 1rem 0.5rem;
    

    &:hover{
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
        
    }
}
@media (min-width: 800px) {
    .modal-course-info{
        position: fixed;
        overflow-y: auto;
        z-index: 0;
        top: 40px;
        bottom: 110px; // 40px
        left: 0; //mobil 15%
        right: 0; //mobil 15%
        
        margin: auto;
        width: 70%; //mobil 70%
        height: auto;
       
    }
    .event-modal-icones{
        
        position: fixed;
        bottom: 40px;
        right: 0px;
        left: 0px;
        display: flex;
        justify-content: space-around;
        padding: 1rem;
    }


}

/// ludo
.close {
color: var.$second-color;
font-size: 1em;
background-color: red;
border-radius: 5px;
border: none;
}

.course-info {
    background: transparent;
   
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    
}

.modal-name-date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.modal-adress-former {
    margin-bottom: 2%;
}

.modal-place {
    margin-bottom: 12%;
}

.modal-name {
    margin-top: 3%;
}

.modal-start {
    margin-top: 5%;
}

.modal-end {
    margin-top: 2%;
}

.modal-all-trainee, .modal-roles-title-container{
    display: flex;
}

.modal-all-trainee{
    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.modal-trainee{
    background-color: transparent;
    border: none;
    
}

.modal-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-textarea{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border: 2px solid var.$primary-color;
    border-radius: 5px;
}


.modal-text-title-container{
    display: flex;
    justify-content: center;
}

.modal-text-content{
    padding: 1% ;
}
.modal-arrow, .modal-icone{
    background-color: transparent;
    border: none;
}

.modal-icones{
    display: flex;
    // justify-content: flex-end;
    // margin-top: 5%;
    // margin-right: 5%;
    position: absolute;
    top: 40px;
    right: 20px;
}

.modal-arrow>img{
    width: 15px;
    height: 15px;
}

.modal-icone>img{
    width: 20px;
    height: 20px;
}

.modal-confirmation-delete-button{
    width: 50%;
    margin: auto;
}

.modal-confirmation-title{
        display: flex;
        justify-content: center;
        margin-bottom: 3%;
}

.modal-confirmation-delete-response{
    width: 25%;
    display: flex;
    justify-content: space-between;
    margin: auto;
}