$primary-color: #006ADB; // 
$second-color:#F3F2F2; // font
$other-color:#FF9700; // 

$background-color:#152242;

$former-color1: #9C0D38;
$former-color2: #03B5AA;
$former-color3: #406E8E;
$former-color4: #FF8CC6;
$former-color5: #540D6E;
$former-color6: #EDD83D;
$former-color7: #7C7C7C;
$former-color8: #023618;

$disabled-primary-color:rgb(198, 198, 198);
$disabled-border-color:rgb(228, 228, 228);
