@use '../../var.scss';

.place-form{
 margin-top: 3%;
}

.place-form-container {
    width: 50%;
    height: 30px;
    margin: auto;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

// .place-select {
//     border: 2px solid var.$primary-color;
//     background-color: var.$primary-color;
//     color: var.$second-color ;
//     width: 18%;
//     text-align: center;
//     border-radius: 5px;
//     font-size: 0.9em;
//     padding: 0.1%;
//     margin-right: 2%;
// }

// .place-select-option{
//     background-color: var.$primary-color ;
//     text-align: start;
// }

.place-adress {
    width: 60%;
    height: 29px;
    border: 1px solid var.$second-color;
    background-color: var.$background-color;
    border-radius: 5px;
    font-size: 0.9em;
    color: var.$primary-color;
    transition: 0.3sec;
    position: absolute;
    right: 0;

    &:focus{
        border: 1.5px solid var.$other-color;
        color: var.$other-color;
    }

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;

    }
}

// .place-form-select-container{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-around;
//     align-items: center;
// }

.place-form-button {
    width: 100%;
    height: 30px;
    font-weight: bold;
    border: 2px solid var.$second-color;
    background-color: var.$background-color;
    color: var.$second-color ;
    border-radius: 0;
    transition: all 0.3sec;
    &:last-child{
        border-radius: 0 0 5px 5px ;
    }

    &:hover {
        color: var.$other-color;
        border: 2px solid var.$other-color;
        background-color: var.$background-color;
    }
}

.place-form-button-disabled{
    width: 100%;
    height: 30px;
    font-weight: bold;
    color: var.$second-color ;
    transition: all 0.3sec;
    border: 2px solid lightgray;
    background-color: lightgrey;
    color: var.$second-color ;
    border-radius: 0;
    cursor: initial;
    &:last-child{
        border-radius: 0 0 5px 5px ;
    }
    &:hover {
        color: var.$background-color;
        border: 2px solid var.$other-color;
        background-color: lightgrey;
        font-weight: bold;
    }

}
.place-form-button-container{
    width: 35%;
    position: absolute;
    min-width: 190px;
}

.place-modale-info {
    position: relative;
}

.info-classeroom{
    position: absolute;
    padding: 3px;
    width: 200px;
    height: auto;
    border: 2px solid var.$other-color;
    border-radius: 5px;
    background-color: var.$background-color;
    color: var.$second-color ;
    border-radius: 0  5px 5px 0;
    font-size: 0.9em;
    top: 0;
    right: -200px;
}