.settings-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.identity-modal-button-edit{
    width: 40px;
    background: transparent;
    filter: invert(100%) sepia(4%) saturate(407%) hue-rotate(297deg) brightness(114%) contrast(90%);


}
.settings-container-title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.settings-container{
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.settings-container-image{

    width: 100%;

}