@use '../../var.scss';

.mycourse-card{
    
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;


    &-day {
        color: var.$second-color;
        margin-bottom: 1%;
        font-size: 2em;
        text-align: start;
        font-weight: bold;
    }

    &-course {
        padding: 2%;
        // padding-bottom: 4%;
        background-color: var.$background-color;
        color: var.$second-color;
        border-radius: 5px;
        border: 2px solid var.$second-color;
        border-radius: 3px;
        transition-duration: 0.3s;
        width:60%;
    }

    &-course:hover{
        color: var.$other-color;
        border-color: var.$other-color;
        transform: scale(1.02);
    }
}

.mycourse-card-former,
.mycourse-card-date{
    display: flex;
    justify-content: space-around;
}

.mycourse-card-former{
    margin-top: 3%;
    margin-bottom: 3%;

}

.duration{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;

    &-course{
        font-style: italic;
        font-weight: 0.3em;
        padding-bottom: 0.5%;
    }
}


.mycourse-card-name{
    min-height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}


.name {
    font-weight: bold;
    font-size: 2rem;
}


.date{
    font-size: 1.5rem;
    font-weight: 600;
}

.former,
.place {
    width: 60%;
    font-weight: 600;
    font-size: 1.5rem;
}

.start-date-container {
    max-height: 10%; 
}

.label {
    margin-bottom: 1%;
}

#Start,
#End{
    // font-size: 1.5rem;
    margin-top: 5%;
}

.place{
   margin-top: 1%; 
}